@charset "utf-8";

/* Webフォント */

@font-face {
    font-family: 'DINPro Medium';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/DINPro-Medium tr.woff') format('woff');
}

/* Reset
----------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	zoom:1;	/* hasLayout in IE */
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font:inherit;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	vertical-align:baseline;
	background:transparent;
	-webkit-text-size-adjust: 100%;
    word-break: break-all;
    line-height: 1;
}
/*p{max-height:100%;}*/
header, menu, nav, footer,
section,article, aside,
details, summary,
figure, figcaption{display:block;}
table{
	border-collapse:collapse;
	border-spacing:0;
}
q, blockquote{quotes:none;}
q:before, q:after, blockquote:before, blockquote:after{
	content:"";
	content:none;
}
img{
	font-size:0;
	line-height:0;
	vertical-align: bottom;
	height:auto;
}
a{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color:#333;
}
a:focus{outline:none;}
a img{
	border:none;
	vertical-align:middle;
}
input[type="submit"] {
	-webkit-appearance: none;
}
textarea{overflow:auto;}
label{cursor:pointer;}
.clearfix:after{
	display:block;
	visibility:hidden;
	content:".";
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
}
* html .clearfix{zoom:1;}
*:first-child + html .clearfix{zoom:1;}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    
    a:hover {
        opacity: 1;
    }

}


strong{
	font-weight: normal;
}
ul,ol{
	list-style-type: none;
}
body{
    width: 100%;
    min-width: 550px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	line-height: 1;
	color: #111;
}
.wrap{
    position: relative;
    width: 100%;
    max-width: 1940px;
}

h2,h3,h4,h5{
	font-weight: bold;
}

img{
	max-width:100%;
}

* {
    transition: all .4s;
}

.break {
    display: none;
}

.inner {
    width: 1392px;
    margin: 0 auto;
}

.sp {
    display: none;
}

@media screen and (max-width: 1400px) {

    .inner {
        width: 100%;
    }

}

/* ============header============== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1940px;
    height: 49px;
    background: #fff;
    z-index: 100;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 49px;
}

.header__title {
    margin: 0 92px 0 0;
}

.header__snsbox {
    display: flex;
}

.header__snsitem01 {
    margin: 0 24px 0 0;
}

.header__glonav {
    position: absolute;
    top: 0;
    right: 0;
}

.header__navlist {
    display: flex;
}

.header__navitem {
    position: relative;
    margin: 0 31px 0 0;
}

.header__navitem:before,
.header__navitem:after {
    position: absolute;
    bottom: 5px;
    content: "";
    display: inline-block;
    width: 0;
    height: 3px;
    background: #1751a0;
    transition: .3s;
}

.header__navitem:before {
    left: 50%;
}

.header__navitem:after {
    right: 50%;
}

.header__navitem:hover:before,
.header__navitem:hover:after {
    width: 50%;
}

.header__navitem a {
    font-size: 15px;
    color: #1e1e1e;
    line-height: 49px;
}

.header__navitem--k {
    width: 119px;
    height: 49px;
    margin-right: 0;
    background: #292929;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.header__navitem--k a {
    display: block;
    color: #fff;
    line-height: 49px;
}

.header__navitem--b {
    width: 214px;
    height: 49px;
    margin-right: 0;
    background: #1488e1;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.header__navitem--b a {
    display: block;
    color: #fff;
    line-height: 49px;
}

.header__navitem--b:hover a {
    opacity: 1;
}

.header__navitem--k:hover a {
    opacity: 1;
}

.header__navitem--k:before,
.header__navitem--b:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #f47aa3;
    transition: .3s;
    z-index: -1;
}

.header__navitem--k:hover:before,
.header__navitem--b:hover:before {
    bottom: 0;
    width: 100%;
}

.header__navitem--k:hover:after,
.header__navitem--b:hover:after {
    display: none;
}

@media screen and (max-width: 1400px) {

    .header__inner {
        padding: 0 0 0 20px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 1250px) {

    .header__inner {
        justify-content: space-between;
    }

    .header__title {
        margin: 0;
    }

    .header__snsbox {
        margin: 0 74px 0 0;
    }

    .header__navitem {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        margin: 0;
    }

    .header__navitem a {
        display: block;
        font-size: 20px;
        color: #333;
    }

    .header__navitem--k {
        width: auto;
        height: auto;
        background: transparent;
        text-align: left;
    }
    
    .header__navitem--k a {
        display: block;
        color: #333;
    }
    
    .header__navitem--b {
        width: auto;
        height: auto;
        background: transparent;
        text-align: left;
    }
    
    .header__navitem--b a {
        color: #333;
    }

    .header__navlist {
        position: fixed;
        top: 49px;
        right: -300px;
        display: block;
        width: 300px;
        height: 100%;
        background: #fff;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto;
    }

    .header__navlist.active {
        right: 0;
    }

    .blackBg {
        position: fixed;
        left: 0;
        right:0;
        top: 49px;
        bottom: 0;
        z-index: -1;
        background-color: #000;
        visibility: hidden;
        opacity: 0;
        transition: all .6s;
    }

    .blackBg.active {
        opacity: .8;
        visibility: visible;
        cursor: pointer;
    }

    .sp.ham {
        display: block;
        width: 49px;
        height: 49px;
        background: #004198 url(images/home_icon03.png) center center no-repeat;
        cursor: pointer;
    }

    .header__navitem:hover:before,
    .header__navitem:hover:after {
        display: none;
    }

    .header__navitem--k:before,
    .header__navitem--b:before {
        display: none;
    }

}

/* ============key=============== */

.key {
    position: relative;
    width: 100%;
    height: 861px;
    max-height: 100vh;
    background: url(images/keyvisual.png) center center/cover no-repeat;
}

.key__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 833px;
}

.key__body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    background: rgba(45, 46, 48, .9);
}

.key__inner {
    display: flex;
    align-items: center;
    height: 54px;
}

.key__body-title {
    margin: 0 39px 0 52px;
    font-size: 30px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #fcff00;
}

.key__body-items {
    display: flex;
}

.key__body-list {
    display: flex;
    margin: 0 40px 0 0;
    color: #fff;
}

.key__body-list:hover .key__list-d{
    text-decoration: underline;
}

.key__list-t {
    padding: 0 16px 0 0;
}

.key__body-link a {
    padding: 0 0 2px;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: .3s;
}

.key__body-link a:hover {
    border-bottom: 1px dashed #fcff00;
    color: #fcff00;
    opacity: 1;
}

.key__body-snsbox {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media screen and (max-width: 1400px) {

    .key__title {
        width: 700px;
    }

}

@media screen and (max-width: 1000px) {

    .key__title {
        width: 600px;
    }

    .key__body {
        height: 65px;
        padding: 0 0 0 20px;
        box-sizing: border-box;
    }

    .key__inner {
        display: block;
        width: 100%;
        height: 65px;
        padding: 5px 0;
        box-sizing: border-box;
    }
    
    .key__body-title {
        margin: 0 0 5px;
        font-size: 28px;
    }

    .key__body-list {
        margin: 0 20px 0 0;
    }

    .key__list-t,
    .key__list-d {
        font-size: 15px;
    }

    .key__body-link a {
        font-size: 15px;
    }

    .key__body-snsitem {
        display: block;
    }

    .key__body-snsitem:first-of-type {
        margin: 0 0 10px;
    }

    .key__body-list:hover .key__list-d{
        text-decoration: none;
    }

    .key__body-link a:hover {
        border-bottom: 1px solid #fff;
        color: #fff;
    }

}

@media screen and (max-width: 800px) {

    .key {
        max-height: 80vh;
    }

    .key__title {
        width: 500px;
    }

    .key__body {
        height: 80px;
    }

    .key__inner {
        height: 80px;
    }

    .key__body-items {
        align-items: flex-end;
    }

    .key__body-list {
        display: block;
    }

    .key__list-t,
    .key__list-d {
        font-size: 14px;
        line-height: 1.2;
    }

    .key__body-link a {
        font-size: 14px;
    }
}

/* ==========cont01=========== */

.cont01 {
    width: 100%;
    padding: 41px 0 75px;
    background: #1751a0;
}

.cont01__title {
    margin: 0 0 40px;
    font-size: 41px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.cont01__list {
    display: flex;
    flex-wrap: wrap;
    width: 1349px;
    margin: 0 auto;
}

.cont01__listitem {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 0 0 25px;
    box-sizing: border-box;
}

.cont01__listitem:first-of-type,
.cont01__listitem:nth-of-type(2) {
    margin: 0 0 41px;
}

.cont01__item-p {
    width: 116px;
    height: 54px;
    border: 1px solid #fff;
    margin: 0 29px 0 0;
    font-size: 19px;
    color: #fff;
    line-height: 54px;
    text-align: center;
    box-sizing: border-box;
}

.cont01__item-p--on {
    background: #fff;
    color: #1751a0;
}

.cont01__item-dl {
    font-size: 19px;
    color: #fff;
}

.cont01__item-dl:hover {
    text-decoration: underline;
}

.cont01__item-dl dt,
.cont01__item-dl dd {
    line-height: 1.5;
}

@media screen and (max-width: 1350px) {

    .cont01__list {
        width: 100%;
    }

}

@media screen and (max-width: 1050px) {

    .br1050 {
        display: block;
    }

    .cont01__item-dl:hover {
        text-decoration: none;
    }

}

@media screen and (max-width: 750px) {

    .cont01__item-p {
        width: 100px;
        height: 50px;
        margin: 0 20px 0 0;
        font-size: 18px;
        line-height: 50px;
    }

    .cont01__item-dl {
        font-size: 16px;
    }

}

@media screen and (max-width: 700px) {

    .cont01__list {
        display: block;
        width: 500px;
        margin: 0 auto;
    }

    .cont01__listitem {
        width: 100%;
        padding: 0;
    }

    .cont01__listitem:first-of-type,
    .cont01__listitem:nth-of-type(2),
    .cont01__listitem:nth-of-type(3) {
        margin: 0 0 30px;
    }

    .cont01__item-p {
        min-width: 116px;
        height: 54px;
        margin: 0 29px 0 0;
        font-size: 19px;
        line-height: 54px;
    }

    .cont01__listitem a {
        width: 50%;
    }

    .cont01__item-dl {
        font-size: 19px;
    }

}

/* ============cont02============== */

.cont02 {
    width: 100%;
    height: 648px;
    background: url(images/home_img01.png) center center/cover no-repeat;
}

.cont02__inner {
    position: relative;
}

.cont02__title {
    position: absolute;
    top: 196px;
    right: 40px;
    display: inline-block;
    font-size: 57px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    color: #333;
}

.cont02__title span {
    display: block;
    font-size: 57px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    font-weight: bold;
    color: #333;
}

.cont02__title span:first-of-type {
    margin: 25px 0;
}

.cont02__link {
    position: absolute;
    top: 447px;
    right: 40px;
    width: 298px;
    height: 60px;
    border: 1px solid #1751a0;
    border-right: 2px solid #1751a0;
    background: #fff;
    overflow: hidden;
    z-index: 2;
}

.cont02__link a {
    display: block;
    width: 268px;
    height: 60px;
    padding: 0 0 0 30px;
    background: url(images/home_arrow.png) right 11px center no-repeat;
    font-size: 20px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    font-weight: bold;
    color: #1751a0;
    line-height: 60px;
}

.cont02__link:before {
    position: absolute;
    top: 0;
    left: -100%;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #1751a0;
    transition: .3s;
    z-index: -1;
}

.cont02__link a:hover {
    background: url(images/home_arrow03.png) right 11px center no-repeat;
    color: #fff;
    opacity: 1;
}

.cont02__link:hover:before {
    left: 0;
}

@media screen and (max-width: 1450px) {

    .cont02__inner {
        width: 100%;
    }

    .cont02__title {
        right: 100px;
        font-size: 50px;
    }
    
    .cont02__title span {
        font-size: 50px;
    }
    
    .cont02__link {
        position: absolute;
        top: 447px;
        right: 100px;
        width: 298px;
        height: 60px;
        border: 1px solid #1751a0;
        border-right: 2px solid #1751a0;
        background: #fff;
    }

}

@media screen and (max-width: 1000px) {

    .cont02 {
        height: 500px;
    }

    .cont02__title {
        top: 120px;
        right: 50px;
        font-size: 40px;
    }
    
    .cont02__title span {
        font-size: 40px;
    }

    .cont02__link {
        position: absolute;
        top: 360px;
        right: 50px;
        width: 298px;
        height: 60px;
        border: 1px solid #1751a0;
        border-right: 2px solid #1751a0;
        background: #fff;
    }
    
    .cont02__link:hover:before {
        display: none;
    }

    .cont02__link a:hover {
        background: url(images/home_arrow.png) right 11px center no-repeat;
        color: #1751a0;
    }

}

/* ============cont03============== */

.cont03 {
    width: 100%;
    height: 636px;
    background: url(images/home_img02.png) center center/cover no-repeat;
}

.cont03__inner {
    position: relative;
}

.cont03__title {
    position: absolute;
    top: 175px;
    left: 0;
    display: inline-block;
    font-size: 53px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    color: #333;
}

.cont03__title span {
    display: block;
    font-size: 53px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    font-weight: bold;
    color: #333;
}

.cont03__title span:first-of-type {
    margin: 25px 0;
}

.cont03__link {
    position: absolute;
    top: 417px;
    left: 0;
    width: 284px;
    height: 53px;
    border: 1px solid #1751a0;
    border-right: 2px solid #1751a0;
    background: #fff;
    overflow: hidden;
    z-index: 2;
}

.cont03__link a {
    display: block;
    width: 231px;
    padding: 0 0 0 53px;
    background: url(images/home_arrow.png) right 15px center no-repeat;
    font-size: 20px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    font-weight: bold;
    color: #1751a0;
    line-height: 53px;
}

.cont03__link:before {
    position: absolute;
    bottom: 0;
    left: -100%;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #1751a0;
    transition: .3s;
    z-index: -1;
}

.cont03__link:hover:before {
    left: 0;
}

.cont03__link a:hover {
    background: url(images/home_arrow03.png) right 15px center no-repeat;
    color: #fff;
    opacity: 1;
}

@media screen and (max-width: 1450px) {

    .cont03__inner {
        width: 100%;
    }

    .cont03__title {
        left: 50px;
        font-size: 45px;
    }

    .cont03__title span {
        font-size: 45px;
    }
    .cont03__link {
        left: 50px;
    }

}

@media screen and (max-width: 1000px) {

    .cont03 {
        height: 500px;
    }

    .cont03__title {
        top: 125px;
        left: 30px;
        font-size: 35px;
    }

    .cont03__title span {
        font-size: 35px;
    }

    .cont03__link {
        top: 350px;
        left: 30px;
    }

    .cont03__link:hover:before {
        display: none;
    }
    
    .cont03__link a:hover {
        background: url(images/home_arrow.png) right 15px center no-repeat;
        color: #1751a0;
    }

}

@media screen and (max-width: 800px) {

    .cont03 {
        background: url(images/test4_03.png) center center/cover no-repeat;
    }

    .cont03__title {
        font-size: 32px;
    }

    .cont03__title span {
        font-size: 32px;
    }

}

/* ===========cont04============= */

.cont04 {
    width: 100%;
    padding: 62px 0 0;
}

.cont04__title {
    margin: 0 0 37px;
    font-size: 60px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #333;
    text-align: center;
}

.cont04__txt {
    margin: 0 0 47px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.cont04__body {
    display: flex;
    width: 100%;
}

.cont04__card {
    width: 50%;
}

.cont04__card--l {
    background: #004198;
    padding: 70px 59px 97px 0;
}

.cont04__card--r {
    background: #1751a0;
    padding: 70px 0 97px 59px;
}

.cont04__card-title {
    margin: 0 0 23px;
    font-size: 40px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    color: #fff;
}

.cont04__card--l .cont04__card-title {
    background: url(images/home_icon06.png) right 138px center no-repeat;
    text-align: right;
}

.cont04__card--r .cont04__card-title {
    background: url(images/home_icon07.png) left 220px center no-repeat;
}

.cont04__card-img {
    margin: 0 0 17px;
}

.cont04__card--l .cont04__card-img {
    text-align: right;
}

.cont04__card-txt {
    margin: 0 0 37px;
    font-size: 27px;
    color: #fff;
}

.cont04__card--l .cont04__card-txt {
    text-align: right;
}

.cont04__card-list {
    display: flex;
}

.cont04__card--l .cont04__card-list {
    justify-content: flex-end;
}

.cont04__card-listitem {
    position: relative;
    width: 199px;
    height: 81px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
}

.cont04__card-listitem a {
    display: inline-block;
    width: 199px;
    height: 81px;
    padding: 31px 0 0 23px;
    background:  url(images/home_arrow.png) right 13px center no-repeat;
    font-size: 22px;
    font-family: "小塚ゴシック Pr6N";
    font-weight: bold;
    color: #004198;
    box-sizing: border-box;
}

.cont04__card-listitem:before {
    position: absolute;
    top: 0;
    left: -100%;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #f47aa3;
    transition: .3s;
    z-index: -1;
}

.cont04__card-listitem:nth-of-type(2):before {
    background: #e1b25e;
}

.cont04__card-listitem:nth-of-type(3):before {
    background: #2bc7c2;
}

.cont04__card-listitem:nth-of-type(4):before {
    background: #57aced;
}

.cont04__card-listitem:hover:before {
    left: 0;
}

.cont04__card-listitem a:hover {
    background: url(images/home_arrow02.png) right 13px center no-repeat;
    color: #fff;
    opacity: 1;
}

.cont04__card-listitem--2r a {
    padding-top: 15px;
    line-height: 1.2;
}

.cont04__card-listitem:first-of-type,
.cont04__card-listitem:nth-of-type(2),
.cont04__card-listitem:nth-of-type(3) {
    margin: 0 28px 0 0;
}

.cont04__list {
    display: flex;
}

.cont04__listitem {
    position: relative;
    width: 25%;
    height: 182px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.cont04__listitem:after {
    background: #fff;
    content: "";
    height: 200%;
    left: -100%;
    opacity: .2;
    position: absolute;
    top: -30px;
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 25%;
    z-index: 1;
}
.cont04__listitem:hover:after {
    left: 120%;
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cont04__listitem:hover a {
    opacity: 1;
}

.cont04__listitem--p {
    background-color: #f47aa3;
}

.cont04__listitem--y {
    background-color: #e1b25e;
}

.cont04__listitem--g {
    background-color: #2bc7c2;
}

.cont04__listitem--b {
    background-color: #57aced;
}

.cont04__listitem a {
    display: block;
    background: url(images/home_icon05.png) right 5% center no-repeat;
    font-size: 40px;
    font-family: a-otf-ud-shin-go-pr6n;
    font-family: ShinGoPro !important;
    color: #fff;
    line-height: 182px;
}

@media screen and (max-width: 1900px) {

    .cont04__card--l .cont04__card-list {
        margin-left: auto;
    }

    .cont04__card-listitem {
        width: 180px;
        height: 81px;
    }

    .cont04__card-listitem a {
        font-size: 20px;
    }

    .cont04__card-listitem a {
        width: 180px;
        font-size: 20px;
    }

    .cont04__card-listitem--2r a {
        padding-top: 15px;
        line-height: 1.2;
    }

}

@media screen and (max-width: 1750px) {

    .cont04__card--l {
        padding: 60px 59px 80px 0;
    }
    
    .cont04__card--r {
        padding: 60px 0 80px 59px;
    }

    .cont04__card-txt {
        margin: 0 0 30px;
        font-size: 22px;
    }

    .cont04__card-listitem {
        width: 170px;
        height: 65px;
    }

    .cont04__card-listitem a {
        width: 170px;
        height: 65px;
        padding: 25px 0 0 15px;
        background: url(images/home_arrow.png) right 8px center no-repeat;
        font-size: 22px;
    }

    .cont04__card-listitem a:hover {
        background: url(images/home_arrow02.png) right 8px center no-repeat;
        color: #fff;
    }

    .cont04__card-listitem--2r a {
        padding-top: 12px;
    }

    .cont04__card-listitem:first-of-type,
    .cont04__card-listitem:nth-of-type(2),
    .cont04__card-listitem:nth-of-type(3) {
        margin: 0 20px 0 0;
    }

    .cont04__card-listitem a {
        font-size: 18px;
    }

    .cont04__listitem {
        height: 150px;
        background-position: right 30px center;
    }

    .cont04__listitem a {
        font-size: 35px;
        line-height: 150px;
    }

}

@media screen and (max-width: 1650px) {

    .cont04__card--l {
        padding: 50px 40px 70px 0;
    }
    
    .cont04__card--r {
        padding: 50px 0 70px 40px;
    }

    .cont04__card-txt {
        font-size: 20px;
    }

    .cont04__card-listitem {
        width: 150px;
        height: 60px;
    }

    .cont04__card-listitem a {
        width: 150px;
        height: 60px;
        padding: 22px 0 0 12px;
        background: url(images/home_arrow.png) right 5px center/10px no-repeat;
        font-size: 17px;
    }

    .cont04__card-listitem a:hover {
        background: url(images/home_arrow02.png) right 5px center/10px no-repeat;
        color: #fff;
    }

    .cont04__card-listitem--2r a {
        padding-top: 10px;
    }

}

@media screen and (max-width: 1450px) {

    .cont04__card--l {
        padding: 40px 40px 60px 0;
    }
    
    .cont04__card--r {
        padding: 40px 0 60px 40px;
    }

    .cont04__card-title {
        font-size: 35px;
    }

    .cont04__card--l .cont04__card-title {
        background: url(images/home_icon06.png) right 120px center no-repeat;
    }
    
    .cont04__card--r .cont04__card-title {
        background: url(images/home_icon07.png) left 190px center no-repeat;
    }

    .cont04__card-txt {
        font-size: 18px;
    }

    .cont04__card-listitem {
        width: 130px;
        height: 60px;;
    }

    .cont04__card-listitem a {
        width: 130px;
        height: 60px;
        font-size: 16px;
    }

    .cont04__listitem {
        height: 130px;
    }

    .cont04__listitem a {
        background-size: 15px;
        font-size: 30px;
        line-height: 130px;
    }

}

@media screen and (max-width: 1250px) {

    .cont04__card--l {
        padding: 30px 40px 50px 0;
    }
    
    .cont04__card--r {
        padding: 30px 0 50px 40px;
    }

    .cont04__card-title {
        font-size: 30px;
    }

    .cont04__card-txt {
        font-size: 16px;
    }

    .cont04__card--l .cont04__card-title {
        background: url(images/home_icon06.png) right 110px center no-repeat;
    }
    
    .cont04__card--r .cont04__card-title {
        background: url(images/home_icon07.png) left 170px center no-repeat;
    }

    .cont04__card-listitem {
        width: 110px;
        height: 50px;
    }

    .cont04__card-listitem a {
        width: 110px;
        height: 50px;
        padding: 18px 0 0 6px;
        background: url(images/home_arrow.png) right 3px center/7px no-repeat;
        font-size: 14px;
    }

    .cont04__card-listitem--2r a {
        padding-top: 8px;
    }

}

@media screen and (max-width: 1200px) {

    .cont04__listitem {
        height: 120px;
    }

    .cont04__listitem a {
        font-size: 24px;
        line-height: 120px;
    }

}

@media screen and (max-width: 1100px) {

    .cont04__body {
        display: block;
    }
    
    .cont04__card {
        width: 100%;
        padding: 70px 0;
        text-align: center;
    }

    .cont04__card-title {
        position: relative;
        display: inline-block;
        padding: 0 91px;
        font-size: 40px;
    }
    
    .cont04__card--l .cont04__card-title {
        background: none;
     }
    
    .cont04__card--r .cont04__card-title {
        background: none;
    }
    
    .cont04__card-img {
        margin: 0 0 17px;
    }
    
    .cont04__card--l .cont04__card-img {
        text-align: center;
    }
    
    .cont04__card-txt {
        margin: 0 0 37px;
        font-size: 27px;
        color: #fff;
    }
    
    .cont04__card--l .cont04__card-txt {
        text-align: center;
    }

    .cont04__card-list {
        justify-content: space-between;
        width: 911px;
        margin: 0 auto;
    }
    
    .cont04__card--l .cont04__card-list {
        justify-content: space-between;
    }
    
    .cont04__card-listitem {
        width: 199px;
        height: 81px;
        box-sizing: border-box;
        text-align: left;
    }
    
    .cont04__card-listitem a {
        width: 199px;
        height: 81px;
        padding: 31px 0 0 23px;
        background: url(images/home_arrow.png) right 13px center no-repeat;
        font-size: 22px;
    }

    .cont04__card-listitem a:hover {
        background: url(images/home_arrow02.png) right 13px center no-repeat;
    }
    
    .cont04__card-listitem--2r a {
        padding-top: 15px;
    }

}

@media screen and (max-width: 1000px) {

    .cont04__title {
        margin: 0 0 30px;
        font-size: 50px;
    }
    
    .cont04__txt {
        margin: 0 0 40px;
        font-size: 18px;
    }

    .cont04__card {
        padding: 60px 0;
    }

    .cont04__card-title {
        font-size: 35px;
    }

    .cont04__card-img img {
        width: 800px;
        height: auto;
    }

    .cont04__card-txt {
        font-size: 22px;
    }

    .cont04__card-list {
        width: 800px;
    }

    .cont04__card-listitem {
        width: 180px;
        height: 70px;
    }

    .cont04__card-listitem a {
        width: 180px;
        height: 70px;
        padding: 25px 0 0 18px;
        font-size: 18px;
    }

    .cont04__card-listitem:hover:before {
        display: none;
    } 

    .cont04__card-listitem a:hover {
        background: url(images/home_arrow.png) right 13px center no-repeat;
        color: #004198;
    }

    .cont04__card-listitem--2r a {
        padding-top: 12px; 
    }

    .cont04__listitem {
        height: 120px;
    }

    .cont04__listitem a {
        background-size: 10px;
        font-size: 22px;
        line-height: 120px;
    }

    .cont04__listitem:hover:after {
        display: none;
    }
    
    .cont04__listitem:hover a {
        letter-spacing: 0;
    }

}

@media screen and (max-width: 900px) {

    .cont04__card-img img {
        width: 650px;
        height: auto;
    }

    .cont04__card-list {
        width: 650px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cont04__card--l .cont04__card-list {
        justify-content: center;
    }

    .cont04__card-title {
        font-size: 30px;
    }

    .cont04__card-txt {
        font-size: 20px;
    }

    .cont04__card-listitem {
        width: 199px;
        height: 81px;
    }
    
    .cont04__card-listitem a {
        width: 199px;
        height: 81px;
        padding: 31px 0 0 23px;
        font-size: 22px;
    }
    
    .cont04__card-listitem--2r a {
        padding-top: 15px;
    }

    .cont04__card-listitem:first-of-type {
        margin: 0 40px 40px 0;
    }

    .cont04__card-listitem:nth-of-type(2) {
        margin: 0 0 40px;
    }

    .cont04__card-listitem:nth-of-type(3) {
        margin: 0 40px 0 0;
    }

}

@media screen and (max-width: 800px) {

    .cont04__list {
        flex-wrap: wrap;
    }

    .cont04__listitem {
        width: 50%;
    }

}

@media screen and (max-width: 750px) {

    .cont04__card {
        padding: 40px 10px;
        box-sizing: border-box;
    }

    .cont04__card-img img {
        width: 500px;
    }

    .cont04__card-list {
        width: 500px;
        flex-wrap: wrap;
    }

    .cont04__card-title {
        font-size: 26px;
    }

    .cont04__card-txt {
        font-size: 17px;
    }

}

/* =============cont05============== */

.cont05 {
    width: 100%;
    padding: 62px 0 0;
}

.cont05__title {
    margin: 0 0 37px;
    font-size: 60px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #333;
    text-align: center;
}

.cont05__txt {
    margin: 0 0 47px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.cont05__body {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px 49px;
    background: #033a86;
}

.cont05__l {
    width: 260px;
    min-width: 260px;
    padding: 84px 0 0;
    margin: 0 94px 0 0;
}

.cont05__l-title {
    margin: 0 0 40px;
    font-size: 64px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #fff;
}

.cont05__l-title span {
    display: block;
    font-size: 64px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #fff;
}

.cont05__l-txt {
    position: relative;
    color: #fff;
    line-height: 1.5;
}

.cont05__l-txt:after {
    position: absolute;
    left: 0;
    bottom: -62px;
    content: url(images/home_icon07.png);
    display: inline-block;
    width: 71px;
    height: 27px;
}

.cont05__r {
    display: flex;
    align-items: flex-end;
    padding: 65px 0 0;
}

.cont05__r-item {
    position: relative;
    width: 346px;
    height: 648px;
    margin: 0 4px 0 0;
    overflow: hidden;
    z-index: 2;
}

.cont05__r-item:before {
    position: absolute;
    top: 0;
    left: -150%;
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    transform: skew(-45deg);
}

.cont05__r-item:hover:before {
    width: 400%;
}

.cont05__r-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.cont05__r-item:hover a {
    opacity: 1;
}

.cont05__r-item:last-of-type {
    margin: 0;
}

.cont05__r-item:first-of-type {
    width: 368px;
    height: 689px;
    background: url(images/home_img05.png) center center no-repeat;
}

.cont05__r-item:nth-of-type(2) {
    background: url(images/home_img06.png) center center no-repeat;
}

.cont05__r-item:nth-of-type(3) {
    background: url(images/home_img07.png) center center no-repeat;
}

.cont05__r-item:nth-of-type(4) {
    background: url(images/home_img08.png) center center no-repeat;
}

.cont05__item-txt {
    position: absolute;
    left: 30px;
    bottom: 34px;
    text-shadow: 0 0 5px rgba(0,0,0,.9),0 0 10px rgba(0,0,0,.9);
}

.cont05__r-item:nth-of-type(4) .cont05__item-txt {
    text-shadow: none;
}


.cont05__item-txt .name {
    font-size: 41px;
    font-family: 'dinpro medium';
    font-weight: bold;
    color: #fff;
}

.cont05__r-item:nth-of-type(4) .name {
    color: #004198;
}

.cont05__item-txt .belong {
    display: block;
    margin: 30px 0 13px;
    font-size: 18px;
    color: #fff;
}

.cont05__item-txt .years {
    font-size: 15px;
    color: #fff;
}

.cont05__r-item:nth-of-type(4) .belong,
.cont05__r-item:nth-of-type(4) .years {
    color: #3c3e3d;
}

@media screen and (max-width: 1850px) {

    .cont05__r {
        width: 100%;
    }

    .cont05__r-item {
        width: 25%;
    }

}

@media screen and (max-width: 1350px) {

    .cont05__l {
        min-width: 400px;
        padding: 84px 0 0;
        margin: 0;
    }
    
    .cont05__l-txt {
        color: #fff;
        line-height: 1.5;
    }

    .cont05__r {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .cont05__r-item {
        position: relative;
        width: 346px;
        height: 324px;
        margin: 0;
    }
    
    .cont05__r-item:first-of-type {
        width: 346px;
        height: 324px;
        margin: 0 4px 4px 0;
        background: url(images/home_img12.png) center center no-repeat;
    }
    
    .cont05__r-item:nth-of-type(2) {
        margin: 0 0 4px 0;
        background: url(images/home_img13.png) center center no-repeat;
    }
    
    .cont05__r-item:nth-of-type(3) {
        margin: 0 4px 0 0;
        background: url(images/home_img14.png) center center no-repeat;
    }
    
    .cont05__r-item:nth-of-type(4) {
        background: url(images/home_img15.png) center center no-repeat;
    }

    .cont05__item-txt {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    .cont05__item-txt .belong {
        margin: 15px 0 13px;
    }
}

@media screen and (max-width: 1200px) {

    .cont05__l {
        min-width: 260px;
    }


    .cont05__l-txt:after {
        bottom: -50px;
        /*display: none;*/
    }

}

@media screen and (max-width: 1050px) {

    .cont05__body {
        display: block;
        width: 100%;
        padding: 0 40px 40px;
        box-sizing: border-box;
    }
    
    .cont05__l {
        width: 694px;
        padding: 40px 0 0;
        margin: 0 auto;
    }
    
    .cont05__l-title {
        text-align: center;
    }
    
    .cont05__l-title span:first-of-type {
        display: inline-block;
        margin: 0 0 0 20px;
    }

    .cont05__r {
        justify-content: center;
    }

    .cont05__r-item:hover:before {
        display: none;
    }

    .cont05__r-item:nth-of-type(4):hover .name {
        color: #004198;
    }
    
    .cont05__r-item:nth-of-type(4):hover .belong,
    .cont05__r-item:nth-of-type(4):hover .years {
        color: #3c3e3d;
    }


    .cont05__l-txt:after {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .cont05__body {
        padding: 0 20px 40px;
    }

    .cont05__l {
        width: 604px;
    }

    .cont05__l-title {
        font-size: 50px;
    }

    .cont05__l-title span {
        font-size: 50px;
    }

    .cont05__r-item {
        width: 300px;
        height: 300px;
    }

    .cont05__r-item:first-of-type {
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width: 650px) {

    .cont05__l {
        width: 504px;
    }

    .cont05__r-item {
        width: 250px;
        height: 250px;
    }

    .cont05__r-item:first-of-type {
        width: 250px;
        height: 250px;
    }

}
/* =============footer============ */

.footer {
    width: 100%;
    max-width: 1940px;
    background: #000;
}

.footer__lr-box {
    display: flex;
    margin: 0 0 35px;
}

.footer__l {
    padding: 37px 0 0;
    margin: 0 75px 0 0;
}

.footer__title {
    margin: 0 0 14px;
}

.footer__snsbox {
    margin: 0 0 30px;
}

.footer__snsitem:first-of-type {
    margin: 0 15px 0 0;
}

.footer__linkitem {
    position: relative;
    width: 395px;
    height: 60px;
    background: #535353;
    text-align: center;
    overflow: hidden;
}

.footer__linkitem:before {
    position: absolute;
    top: 0;
    left: -50%;
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    transition: .5s;
    transform: skew(45deg);
}

.footer__linkitem:hover:before {
    width: 200%;
}

.footer__linkitem:hover a {
    background: url(images/home_arrow04.png) right 22px center no-repeat;
    color: #333;
}

.footer__linkitem:first-of-type {
    margin: 0 0 13px;
}

.footer__linkitem a {
    display: block;
    background: url(images/home_arrow05.png) right 22px center no-repeat;
    font-size: 19px;
    color: #fff;
    line-height: 60px;
}

.footer__r {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 46px 0 0;
}

.footer__r a {
    font-size: 14px;
    color: #fff;
    line-height: 2;
}

.footer__r a:hover {
    text-decoration: underline;
}

.footer__r .sub {
    display: block;
}

.footer__r-item:nth-of-type(2) .footer__listitem {
    text-indent: 1em;
}

.footer__listitem .sub {
    text-indent: 2em;
}

.footer__txt {
    margin: 0 0 29px;
    text-align: right;
}

.footer__txt a {
    font-size: 14px;
    color: #fff;
}

.footer__txt a:hover {
    text-decoration: underline;
}

.footer__txt a:before {
    content: "▶︎";
    display: inline-block;
    padding: 0 5px 0 0;
}

.footer__copy {
    width: 100%;
    height: 72px;
    background: #1b1b1b;
    font-size: 10px;
    color: #fff;
    line-height: 72px;
    text-align: center;
}

@media screen and (max-width: 1450px) {

    .footer__inner {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .footer__lr-box {
        display: block;
        margin: 0 0 35px;
    }

    .footer__l {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .footer__l-l {
        margin: 0 30px 0 0;
    }

    .footer__snsbox {
        margin: 0;
    }

}

@media screen and (max-width: 1000px) {

    .footer__linkitem {
        width: 300px;
        height: 50px;
    }
    
    .footer__linkitem a {
        font-size: 16px;
        line-height: 50px;
    }

    .footer__linkitem:hover:before {
        display: none;
    }
    
    .footer__linkitem:hover a {
        background: url(images/home_arrow05.png) right 22px center no-repeat;
        color: #fff;
    }

    .footer__r a:hover {
        text-decoration: none;
    }

    .footer__txt a:hover {
        text-decoration: none;
    }

}

@media screen and (max-width: 800px) {

    .footer__inner {
        width: 500px;
    }

    .footer__l {
        justify-content: space-between;
    }

    .footer__title {
        width: 150px;
    }

    .footer__linkitem {
        width: 200px;
        height: 50px;
    }
    
    .footer__linkitem a {
        display: block;
        background: url(images/home_arrow05.png) right 10px center/10px no-repeat;
        font-size: 14px;
        color: #fff;
        line-height: 50px;
    }

    .footer__r {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 500px;
        padding: 46px 0 0;
        margin: 0 auto;
    }
    
    .footer__r-item {
        width: 50%;
    }

    .footer__r-item:nth-child(n+3) {
        margin: 30px 0 0;
    }

    .footer__r a {
        font-size: 17px;
        line-height: 5;
    }

}
/* ============scrollBtn============== */

.scrollBtn {
    position: fixed;
    bottom: 10px;
    right: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: 50;
}

.scrollBtn a {
    display: block;
    border-radius: 50%;
}

.scrollBtn img {
    border-radius: 50%;
}